.center {
  text-align: center
}

.center-vertival {
  vertical-align: center;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  justify-content: center;
}

.btn-margin {
  margin: 10px 10px 10px 10px;
}

#game-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

